$_main_color: #000000;
$_main_bg_color: #ba3c6c;
$_text_bg_color: #fff9e1;
$_titles_color: #ffd502;
$_white_accent_color: #ffffff;
$_nav_color: #eed14d;
$_nav_color_hover: #ba3c6c;
$_secondary_font_family: 'Lilita One', sans-serif;
$_primary_font_family: 'Roboto', sans-serif;
