.features-section {
  padding-top: 44px;

  @include media(desktop) {
    padding-top: 70px;
  }
}

.feature-title {
  margin-bottom: 138px;
  @include media(desktop) {
    margin-bottom: 416px;
  }
}

.features-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: relative;
}

.features-text {
  z-index: 1;
  width: 288px;
  border-radius: 20px;
  padding: 16px;
  background: $_text_bg_color;
  @include media(desktop) {
    font-size: 20px;
    padding: 24px;
    width: 730px;
    margin-left: 348px;
    margin-bottom: 513px - 70px;
  }
}

.featuresImg2 {
  @include media(desktop) {
    position: absolute;
    top: 300px;
    left: 0;
    z-index: 1;
  }
}

.features-img-blue {
  display: none;
  position: absolute;
  @include media(desktop) {
    height: 127px;
    display: block;
    position: absolute;
    left: 75px;
    top: -535px;
    z-index: 0;
  }
}

.featuresImg3 {
  display: none;
  position: absolute;
  @include media(desktop) {
    display: block;
    position: absolute;
    right: 0px;
    bottom: 0px;
    z-index: 0;
  }
}

.featuresGirl {
  position: absolute;
  right: 0;
  top: -155px;
  z-index: 0;
  @include media(desktop) {
    right: 0;
    top: -420px;
  }
}

.feature-img-red {
  position: absolute;
  left: 50px;
  top: -110px;
  z-index: 0;
  width: 53px;
  @include media(desktop) {
    top: 80px;
    left: 90px;
    width: 106px;
  }
}

.featuresImg1 {
  @include media(desktop) {
    position: absolute;
    top: -365px;
    left: 0;
  }
}
