.title {
  font-family: $_secondary_font_family;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.05em;
  color: $_titles_color;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
  // text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6), -2px -1px 3px rgba(0, 0, 0, 0.25);
  text-align: center;
  margin-bottom: 8px;
}

.gallery-icon {
  fill: #eecf48;
  width: 9px;
  height: 10px;
}

.swiperArrows {
  display: flex;
  max-width: fit-content;
  align-items: center;
  justify-content: center;
  gap: 12px;
  // padding: 4px;
  border: 2px solid #eecf48;
  border-radius: 25%;
  margin: 0 auto;
  margin-bottom: 24px;
}
.gallery-btnl-border {
}

.background-stripe {
  background-image: url('../img/bg-images/gold-stripe.png');
  height: 15px;
  background-repeat: repeat-x;
  background-size: 28.8px 15px;
  background-position: inherit;
  margin: 8px 0;
}

.gallery-list {
}
.gallery-item picture {
  display: flex;
  justify-content: center;
}
.galleryImg {
  // box-shadow: 2px 1px 40px #dd32ff;
  border-radius: 10px;
}
