.gallery-icon {
  fill: #eecf48;
  width: 9px;
  height: 10px;
}
.section-gallery {
  @include media(desktop) {
    background-image: image-set(
      url('../img/bg-images/green_desc_@1x.webp') 1x,
      url('../img/bg-images/green_desc_@2x.webp') 2x
    );
    // background-size: cover;
    background-repeat: no-repeat;
  }

  // background-size: 28.8px 15px;
  // background-position: inherit;
  // margin: 8px 0;
}

.swiperArrows {
  display: flex;
  max-width: fit-content;
  align-items: center;
  justify-content: center;
  gap: 12px;
  border: 2px solid #eecf48;
  border-radius: 25%;
  margin: 0 auto;
  margin-bottom: 24px;
}

.background-stripe {
  background-image: url('../img/bg-images/gold-stripe.png');
  height: 15px;
  background-repeat: repeat-x;
  background-size: 28.8px 15px;
  background-position: inherit;
  margin: 8px 0;
}

.gallery-item picture {
  display: flex;
  justify-content: center;
}
.galleryImg {
  border-radius: 10px;
}
