.hero {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(
      0deg,
      #000 0%,
      rgba(0, 0, 0, 0.75) 48.5%,
      rgba(0, 0, 0, 0.25) 73.39%,
      rgba(0, 0, 0, 0) 100%
    ),
    image-set(
      url('../img/hero/home_@1x.webp') 1x,
      url('../img/hero/home_@2x.webp') 2x
    );
  background-size: 100%, auto 100%;
  background-position: left top, 50% top;
  background-repeat: no-repeat;

  @include media(desktop) {
    background-image: linear-gradient(
        270deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.53) 11%,
        #000 29.5%,
        rgba(0, 0, 0, 0.75) 63.5%,
        #000 100%
      ),
      linear-gradient(
        270deg,
        #000 0%,
        rgba(0, 0, 0, 0.75) 48.5%,
        rgba(0, 0, 0, 0.25) 73.39%,
        rgba(0, 0, 0, 0) 100%
      );
    background-size: 60% 100%, 44% 100%;
    background-position: left top, right top;
    background-repeat: no-repeat;
  }
}

.hero-container {
  height: 100%;
  position: relative;
  overflow: hidden;
  padding-bottom: 38px;

  @include media(desktop) {
    padding-bottom: 123px;
  }
}

.hero-content-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  gap: 0px;
  @include media(desktop) {
    width: 261px;
    justify-content: end;
    align-items: center;
    gap: 32px;
  }
}

.img-container {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  @include media(desktop) {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
}

.stars {
  display: none;

  @include media(desktop) {
    display: block;
  }
}

.video {
  display: none;
  @include media(desktop) {
    display: block;
    position: absolute;
    bottom: 0;
    right: 80px;
    width: 600px;
    height: 100%;
    object-fit: cover;
    z-index: -2;
  }
}
