.reviews-section {
  padding-bottom: 24px;
  background-image: url('/img/bg-images/border_desc_@1x.webp'),
    url('/img/bg-images/border_desc_@1x.webp');
  background-size: auto 15px;
  background-position: left 54px, left calc(100% - 50px);
  background-repeat: repeat-x;

  @include media(desktop) {
    padding-bottom: 70px;
    background-image: url('/img/bg-images/border_desc_@1x.webp'),
      url('/img/bg-images/border_desc_@1x.webp');
    background-size: auto 30px;
    background-position: left 156px, left calc(100% - 130px);
    background-repeat: repeat-x;
  }
}

.reviews-title-container {
  margin-bottom: 45px;

  @include media(desktop) {
    margin-bottom: 94px;
  }
}

.reviews-swiper {
  margin-bottom: 31px;

  @include media(desktop) {
    margin-bottom: 70px;
  }
}

.review-item {
  position: relative;
  box-sizing: border-box !important;
  border-radius: 10px;
  padding: 12px;
  background-color: $_text_bg_color;
  height: 134px !important;

  @include media(desktop) {
    padding: 24px;
    height: 268px !important;
  }
}

.review-item-title {
  display: flex;
  align-items: end;
  justify-content: start;
  gap: 4px;
  margin-bottom: 12px;

  @include media(desktop) {
    gap: 8px;
    margin-bottom: 24px;
  }
}

.review-item-img {
  width: 50px;
  height: 50px;

  @include media(desktop) {
    width: 100px;
    height: 100px;
  }
}

.reviews-item-name {
  font-weight: 500;
  font-size: 10px;
  line-height: 1.5;
  letter-spacing: 0.05em;
  color: $_main_color;

  @include media(desktop) {
    font-size: 20px;
  }
}

.reviews-item-text {
  font-size: 10px;
  color: $_main_color;

  @include media(desktop) {
    font-size: 20px;
  }
}

.reviews-icon-stars {
  position: absolute;
  right: 12px;
  top: 12px;
  width: 58px;
  height: 12px;

  @include media(desktop) {
    width: 118px;
    height: 24px;
    right: 24px;
    top: 24px;
  }
}

.swiper-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0;
  border: 0.25px solid #eecf48;
  border-radius: 10px;
  width: 36px;
  height: 18px;
  margin: 0 auto;

  @include media(desktop) {
    border-radius: 20px;
    width: 72px;
    height: 36px;
  }
}

.reviews-swiper-icon {
  width: 10px;
  height: 10px;
  fill: #eecf48;

  @include media(desktop) {
    width: 22px;
    height: 22px;
  }
}

.btn-prev {
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.btn-next {
  transform: scaleX(-1);
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.btn-prev:hover,
.btn-prev:focus,
.btn-next:hover,
.btn-next:focus {
  stroke: $_main_color;
}
