<section id="description" class="description-section">
  <div class="container">
    <div class="title-container desc-title-container">
      <span class="titleStroke">Description</span>
      <h2 class="title">Description</h2>
    </div>
    <p class="description-text">
      Delish Match : Match3 & Design is a fun culinary simulator that lets
      players become the head chef of their own restaurant. Manage the kitchen,
      create amazing dishes, serve customers, and grow your restaurant. Every
      dish presents a new challenge, and satisfied customers will return again
      and again. As you progress, unlock new ingredients, recipes, and equipment
      to make your restaurant the best in town. Delish Match : Match3 & Design
      offers many levels with unique challenges and culinary adventures!
    </p>
    <picture>
      <source
        media="(min-width: 1200px)"
        srcset="
          ./img/description/description_desc_@1x.webp 1x,
          ./img/description/description_desc_@2x.webp 2x
        "
        type="image/webp"
      />
      <source
        media="(max-width: 1199px)"
        srcset="
          ./img/description/description_mob_@1x.webp 1x,
          ./img/description/description_mob_@2x.webp 2x
        "
        type="image/webp"
      />
      <img
        src="./img/description/description_mob_@1x.webp "
        alt="description image"
        width="288"
        height="160"
        class="delish-match-img"
        loading="lazy"
      />
    </picture>
  </div>
</section>
