<section id="description" class="description-section">
  <div class="container">
    <div class="title-container desc-title-container">
      <span class="titleStroke">Description</span>
      <h2 class="title">Description</h2>
    </div>
    <div class="description-text-wrapper">
      <p class="description-text">
        Delish Match : Match3 & Design is a fun culinary simulator that lets
        players become the head chef of their own restaurant. Manage the
        kitchen, create amazing dishes, serve customers, and grow your
        restaurant. Every dish presents a new challenge, and satisfied customers
        will return again and again. As you progress, unlock new ingredients,
        recipes, and equipment to make your restaurant the best in town. Delish
        Match : Match3 & Design offers many levels with unique challenges and
        culinary adventures!
      </p>
      <picture>
        <source
          srcset="
            ./img/bg-images/cat_@1x.webp 1x,
            ./img/bg-images/cat_@2x.webp 2x
          "
          type="image/webp"
        />
        <img
          src="./img/bg-images/cat_@1x.webp 1x"
          alt="cat"
          width="115"
          height="105"
          class="desc-cat-image"
          loading="lazy"
        />
      </picture>
      <picture>
        <source
          srcset="
            ./img/bg-images/stats_@1x.webp 1x,
            ./img/bg-images/stats_@2x.webp 2x
          "
          type="image/webp"
        />
        <img
          src="./img/bg-images/stats_@1x.webp 1x"
          alt="stats"
          width="154"
          height="89"
          class="desc-stats-image"
          loading="lazy"
        />
      </picture>
      <picture>
        <source
          srcset="
            ./img/bg-images/green_@1x.webp 1x,
            ./img/bg-images/green_@2x.webp 2x
          "
          type="image/webp"
        />
        <img
          src="../img/bg-images/green_@1x.webp 1x"
          alt="green match"
          class="desc-green-image"
          loading="lazy"
        />
      </picture>
    </div>
    <picture>
      <source
        media="(min-width: 1200px)"
        srcset="
          ./img/description/description_desc_@1x.webp 1x,
          ./img/description/description_desc_@2x.webp 2x
        "
        type="image/webp"
      />
      <source
        media="(max-width: 1199px)"
        srcset="
          ./img/description/description_mob_@1x.webp 1x,
          ./img/description/description_mob_@2x.webp 2x
        "
        type="image/webp"
      />
      <img
        src="./img/description/description_mob_@1x.webp "
        alt="description image"
        width="288"
        height="160"
        class="description-img"
        loading="lazy"
      />
    </picture>
    <picture>
      <source
        srcset="
          ./img/bg-images/red_@1x.webp 1x,
          ./img/bg-images/red_@2x.webp 2x
        "
        type="image/webp"
      />
      <img
        src="./img/bg-images/red_@1x.webp 1x"
        alt="red match"
        width="106"
        height="106"
        class="desc-red-image"
        loading="lazy"
      />
    </picture>
  </div>
</section>
