<section id="faq" class="faq section-animation">
  <div class="container faqPictures">
    <div class="title-container faq-title">
      <span class="titleStroke">Frequently Asked Questions</span>
      <h2 class="title">Frequently Asked Questions</h2>
    </div>
    <div class="faq-wrapper">
      <ul class="accordion-container faq-list" id="accordion-container"></ul>
    </div>
    <picture>
      <source
        media="(min-width: 1200px)"
        srcset="
          ./img/bg-images/faq_lady_desc_@1x.webp 1x,
          ./img/bg-images/faq_lady_desc_@2x.webp 2x
        "
        type="image/png"
      />

      <source
        media="(max-width: 1199px)"
        srcset="
          ./img/bg-images/faq_lady_mob_@1x.webp 1x,
          ./img/bg-images/faq_lady_mob_@2x.webp 2x
        "
        type="image/png"
      />
      <img
        src="./img/bg-images/faq_lady_desc_@1x.webp"
        alt="lady in glasses"
        class="faqLadyImg"
        ;loading="lazy"
      />
    </picture>
    <picture>
      <source
        media="(max-width: 1199px)"
        srcset="
          ./img/bg-images/faq_blue_mob@1x.webp 1x,
          ./img/bg-images/faq_blue_mob@2x.png  2x
        "
        type="image/png"
      />
      <img
        src="./img/bg-images/faq_blue_mob@1x.webp"
        alt="tetris blue"
        class="faqBlueImg"
        loading="lazy"
      />
    </picture>
  </div>
</section>
