<section id="features" class="section-animation features-section">
  <div class="container">
    <div class="title-container feature-title">
      <span class="titleStroke">Features</span>
      <h2 class="title">Features</h2>
    </div>
    <ul class="features-list">
      <li class="featuresGirl">
        <picture>
          <source
            media="(min-width: 1200px)"
            srcset="
              ./img/features/feature_lady_desc_@1x.webp 1x,
              ./img/features/feature_lady_desc_@2x.webp 2x
            "
            type="image/png"
          />

          <source
            media="(max-width: 1199.98px)"
            srcset="
              ./img/features/feature_lady_mob_@1x.webp 1x,
              ./img/features/feature_lady_mob_@2x.webp 2x
            "
            type="image/png"
          />
          <img
            src="./img/features/feature_lady_desc_@1x.webp"
            alt="game screen"
            class="aboutImg1"
            loading="lazy"
          />
        </picture>
      </li>
      <li class="features-text">
        <p>
          Enjoy a chef-driven experience where you manage your own restaurant
          and master a variety of dishes. Discover and unlock new recipes,
          ingredients, and kitchen equipment as you progress. Take on a variety
          of cooking challenges, each more complex and rewarding than the last.
          Gorgeous graphics and detailed animations bring the food and
          restaurant to life. Regular updates add new levels, recipes, and
          features to keep the game fresh and exciting.
        </p>
      </li>
      <li class="featuresImg1">
        <picture>
          <source
            media="(min-width: 1200px)"
            srcset="
              ./img/features/features_1_desc_@1x.webp 1x,
              ./img/features/features_1_desc_@2x.webp 2x
            "
            type="image/png"
          />

          <source
            media="(max-width: 1199.98px)"
            srcset="
              ./img/features/features_1_desc_@1x.webp 1x,
              ./img/features/features_1_desc_@2x.webp 2x
            "
            type="image/png"
          />
          <img
            src="../img/features/features_1_desc_@1x.webp"
            alt="game screen"
            class="featureImg"
            loading="lazy"
          />
        </picture>
      </li>

      <li class="featuresImg2">
        <picture>
          <source
            media="(min-width: 1200px)"
            srcset="
              ./img/features/features_2_desc_@1x.webp 1x,
              ./img/features/features_2_desc_@2x.webp 2x
            "
            type="image/png"
          />

          <source
            media="(max-width: 1199.98px)"
            srcset="
              ./img/features/features_2_desc_@1x.webp 1x,
              ./img/features/features_2_desc_@2x.webp 2x
            "
            type="image/png"
          />
          <img
            src="./img/features/features_2_desc_@1x.webp"
            alt="game screen"
            class="featureImg"
            loading="lazy"
          />
        </picture>
      </li>
      <li class="featuresImg3">
        <picture>
          <source
            media="(min-width: 1200px)"
            srcset="
              ./img/features/features_3_desc_@1x.webp 1x,
              ./img/features/features_3_desc_@2x.webp 2x
            "
            type="image/webp"
          />
          <img
            src=" ./img/features/features_3_desc_@1x.webp"
            alt="game screen"
            class="featuresImglast"
            loading="lazy"
          />
        </picture>
      </li>
      <li class="features-img-blue">
        <picture>
          <source
            media="(min-width: 1200px)"
            srcset="
              ./img/bg-images/blue_@1x.webp 1x,
              ./img/bg-images/blue_@2x.webp 2x
            "
            type="image/webp"
          />
          <img
            src="./img/bg-images/blue_@1x.webp"
            alt="blue tetris"
            class="featuresImglast"
            loading="lazy"
          />
        </picture>
      </li>
      <li class="feature-img-red">
        <picture>
          <source
            media="(min-width: 1200px)"
            srcset="
              ./img/bg-images/red_@1x.webp 1x,
              ./img/bg-images/red_@2x.webp 2x
            "
            type="image/png"
          />

          <source
            media="(max-width: 1199.98px)"
            srcset="
              ./img/bg-images/red_@1x.webp 1x,
              ./img/bg-images/red_@2x.webp 2x
            "
            type="image/png"
          />
          <img
            src="./img/bg-images/red_@1x.webp"
            alt="red tetris"
            class="feature-img"
            loading="lazy"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
