<footer class="footer">
  <div class="container">
    <nav class="nav">
      <div class="footerWrapper">
        <img class="img-footer" srcset="
        ./img/hero/delish_match_desc_@1x.webp 1x,
        ./img/hero/delish_match_desc_@2x.webp 2x
        " src="./img/hero/delish_match_desc_@1x.webp" alt="delish match logo" width="98" height="88" loading="lazy" />
        <ul class="nav-list">
          <li class="nav-item">
            <a href="./privacy-policy.html" class="nav-link">Privacy Policy<span class="privacySlash">/</span></a>
          </li>

          <li class="nav-item">
            <a href="./terms-of-service.html" class="nav-link">Terms of Service</a>
          </li>
        </ul>
      </div>
      <div class="rights-wrapper">
        <h3 class="rights">All rights reserved luckycoolstart.com | 2024</h3>
      </div>
    </nav>
  </div>
</footer>