<section id="how-to-play" class="section-animation">
  <div class="container how-to-play-container">
    <div class="title-container how-to-play-title">
      <span class="titleStroke">How to Play</span>
      <h2 class="title">How to Play</h2>
    </div>
    <ul class="how-to-play-list"></ul>
    <picture>
      <source
        srcset="
          ./img/bg-images/yellow_@1x.webp 1x,
          ./img/bg-images/yellow_@2x.webp 2x
        "
        type="image/webp"
      />
      <img
        src="./img/bg-images/yellow_@1x.webp 1x"
        alt="red match"
        width="29"
        height="69"
        class="instr-yellow-image"
        loading="lazy"
      />
    </picture>
  </div>
</section>
