@import 'modern-normalize';
@import './base.scss';
@import './sections/header.scss';
@import './sections/hero.scss';
@import './sections/descriptions.scss';
@import './sections/reviews.scss';
@import './sections/how-to-play.scss';
@import './sections/features.scss';
@import './sections/faq.scss';
@import './sections/gallery.scss';
@import './sections/footer.scss';
@import './privacy-policy.scss';
@import './terms-of-service.scss';

:root {
  font-family: $_primary_font_family;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: $_main_color;
  background-color: $_main_bg_color;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
}